<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="sudoku.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="sudoku.js" text="text/javascript"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-8 offset-2 justify-content-center align-content-center">
          <table class="sudoku">
            <colgroup><col><col><col>
            <colgroup><col><col><col>
            <colgroup><col><col><col>
            <tbody>
              <tr>
                <td class="cell  given text-center">1</td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell  given text-center">3</td>
              </tr>
              <tr>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell  even given text-center">6</td>
                <td class="cell input even  text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input  even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
              </tr>
              <tr>

                <td class="cell input even  text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input  even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell  given text-center">3</td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell  given text-center">1</td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input  even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input  even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
              </tr>
            </tbody>
              <tbody>
              <tr>
                <td class="cell input even  text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell  given text-center">7</td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell  given text-center">1</td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input  even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input  even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input  even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
              </tr>
              <tr>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input  even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell  given  even text-center">8</td>
                <td class="cell input text-center even "><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center even "><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell  given text-center">5</td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
              </tr>
              <tr>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input even  text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input  even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell  given text-center">3</td>
                <td class="cell input  even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell   even given text-center">4</td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td class="cell input  even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell   even given text-center">8</td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell  even  given text-center">6</td>
                <td class="cell input  text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input even  text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
              </tr>
              <tr>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input  even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell  given text-center">1</td>
                <td class="cell input  even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input  even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input  even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
              </tr>
              <tr>
                <td class="cell   even given text-center">6</td>
                <td class="cell input even  text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input  even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input  even text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell input text-center"><input type="number" max="9" min="1" maxlength="1" minlength="1" ></td>
                <td class="cell  given text-center">7</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
